# {{title}}

```Namespace: {{namespace}}```

{{#each items as |item|}}
<div markdown="span" style='box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); padding: 15px; border-radius: 5px;'>
    <h2 class="func-name"> <code>{{item.type}}</code> {{item.name}} </h2>

    ```rust,ignore
    {{> ContentPartial content=item.signatures}}

    ```

    <div group="{{item.name}}" id="{{item.name}}-description" style="display: block;" markdown="span"
        class="tabcontent">

        {{!-- List of tab buttons --}}
        <div class="tab">
            {{#each item.sections as |section|}}
            <button group="{{item.name}}" id="link-{{item.name}}-{{section.name}}" class="tablinks active"
                onclick="openTab(event, '{{item.name}}', '{{section.name}}')">
                {{> ContentPartial content=section.name}}
            </button>
            {{/each}}
        </div>

        {{!-- List of tab bodies --}}
        {{#each sections as |section|}}
        <div group="{{function_name}}" id="{{function_name}}-{{section.name}}" class="tabcontent">
            {{> ContentPartial content=section.body}}
        </div>
        {{/each}}

    </div>
</div>
</br>
{{/each}}